/* type selectors */
html {
	
	background-color: rgb(202, 202, 202);
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 100%;                       /* changed from 990 pixels */
	padding: 0;
	
	
}
.jus{
	text-align: justify;
}
h2{
	color: #1d9e35;
}
section, aside, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
section, aside {
	margin-bottom: 1em;
}
p {
	font-size: .875em;                 /* 14 / 16 */
	padding-bottom: .5em;
	line-height: 130%;
}
em {
	font-weight: bold;
}
a {
	/* font-weight: bold; */
	text-decoration: none;
}
a:link, a:visited {
	color: #0a64b2 !important;
	font-weight: bold;
}
a:hover, a:focus {
	color: rgb(215, 6, 9) !important;
}

/* the styles for the header */
header {
	width: 100%;                         /* full width of body */
	padding-bottom: 2em;
	padding-top: 2em;
}
header h2 {
	font-size: 2.25em;                   /* 36 / 16 */
	color: #4fca64;
	text-shadow: 2px 1px 0 black;
	margin-left: 12.12121%;              /* 120 / 990 */
	margin-bottom: .25em;
	font-weight: bold;
}
header h3 {
	color: #0a64b2;
	font-size: 1.25em;                   /* 20 / 16 */
	font-style: italic;
	margin-left: 12.12121%;              /* 120 / 990 */
}
header img {
	padding-top: 10px;
	width: 8.0808%;                      /* 80 / 990 */
	max-width: 80px;                     /* native size */
	float: left;
	margin-left: 2.0202%;                /* 20 / 990 */
}
.logo{
	float: right;
}
/* nav */
.nav-item{
	font-size: larger;
	padding-left: .80em;
  }

/* the styles for the section */
section {
	width: 54.0404%;                  /* 535 / 990 */
	/* float: right; */
	margin-left: 2.0202%;             /* 20 / 990 */
	padding: 1.5em 2.52525% 0 0;      /* 25 / 990 */
}
section ul {
	margin-top: 0;
	margin-bottom: 1.5em;
}
section li {
	font-size: .875em;                /* 14 / 16 */
	padding-bottom: .35em;
}
section h1 {
	font-size: 1.75em;                /* 28 / 26 */
	margin-bottom: .35em;
}
section h2 {
	font-size: 1.25em;                /* 20 / 16 */
	margin-bottom: .35em;
}
a.date_passed {
	color: gray;
}

/* the styles for the sidebar */
aside {
	width: 35.35353%;                /* 350 / 990 */
	float: right;
	padding: 2.0202%;                /* 20 / 990 */
	background-color: rgba(222, 229, 231, 0.349);
	margin: 1.5em 2.0202% 0 0;       /* 20 / 990 */
}
aside h2 {
	font-size: 1.25em;               /* 20 / 16 */
	padding-bottom: .5em;
}
aside h3 {
	font-size: 1em;                  /* base font size */
	color: #276932;
	padding-bottom: .5em;
}
aside p {
	margin-bottom: .5em;
}
.vid{
	width: 500px;
}

/* the styles for the footer */
footer {
	clear: both;
	width: 100%;                    /* full width of body */
	border-top: 1px solid #e77503;
	padding-top: 3em;
}
footer p {
	font-size: .75em;               /* 12 / 16 */
	text-align: center;
	margin-right: 2.0202%;          /* 20 / 990 */
}
audio{
		margin-right: 10%;
		width: 100%;
	} 

.sidebarA{
	margin-top: 1.5em;
height: 100%;
width: 25%;
float: left;
background-color: rgba(222, 229, 231, 0.349);
margin-right: 2em;
margin-left: .5em;
}

.thor{
	
	width: 50%;
  height: auto;
  
}

.thor2{
	
	width: 80%;
  height: auto;
  
}
.sidebarB{
	width: 35.35353%;                /* 350 / 990 */
	float: right;
	padding: 2.0202%;                /* 20 / 990 */
	background-color: rgba(222, 229, 231, 0.349);
	margin: 1.5em 2.0202% 0 0; 
	}
.daughter{
	width: 100%;
	height: auto;
	
}
.icn{
	width: 10%;
}


.vid{
	width: 100%;
  height: auto;
}
#grd{
	background-image: linear-gradient(to bottom right, rgba(35, 236, 176, 0.486), rgba(94, 179, 212, 0.342));
}
h3{
	color: rgb(58, 107, 91);
}
/* Last Para */
#last{
	text-align: justify;
}